<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0"
	>
	<title>Weather</title>
    <link rel="stylesheet" href="new_weather.css">
</head>

	<body>
		<main>
		<h1>NEW YORK, NY</h1>
		<div class='day_call'>
			<h3>Tuesday, April 15th</h3>
			<h3>Overcast</h3>
		</div>
		<section class='today_info'>
			<div class='temp'><img src="cloudy_icon.png">58</div>
			<div class='PHWP'>
				<div class='P'>Precipitation: 100%</div>
				<div class='H'>Humidity: 97%</div>
				<div class='W'>Wind: 4 mph SW</div>
				<div class='P'>Pollen Count: 36</div>
			</div>
		</section>
		<div class='weather_row'>
			<div class='week_day_info'>
				<div class='particles'>Today</div>
				<div class='particles'><img src="thunder.png"></div>
				<div class='particles'>68' 36'</div>
				<div class='particles'>Pollen 36</div>
			</div>
			<div class='week_day_info'>
				<div class='particles'>Wednesday</div>
				<div class='particles'><img src="sunny.png"></div>
				<div class='particles'>50' 39'</div>
				<div class='particles'>Pollen 36</div>
			</div>
			<div class='week_day_info'>
				<div class='particles'>Thursday</div>
				<div class='particles'><img src="sunny.png"></div>
				<div class='particles'>55' 39'</div>
				<div class='particles'>Pollen 36</div>
			</div>
			<div class='week_day_info'>
				<div class='particles'>Friday</div>
				<div class='particles'><img src="partly_cloudy.png"></div>
				<div class='particles'>54' 43'</div>
				<div class='particles'>Pollen 36</div>
			</div>
			<div class='week_day_info'>
				<div class='particles'>Saturday</div>
				<div class='particles'><img src="Rainy_Day.png"></div>
				<div class='particles'>64' 46'</div>
				<div class='particles'>Pollen 36</div>
			</div>
			<div class='week_day_info'>
				<div class='particles'>Sunday</div>
				<div class='particles'><img src="Rainy_Day.png"></div>
				<div class='particles'>64' 50'</div>
				<div class='particles'>Pollen 36</div>
			</div>
			<div class='week_day_info'>
				<div class='particles'>Monday</div>
				<div class='particles'><img src="partly_cloudy.png"></div>
				<div class='particles'>61' 50'</div>
				<div class='particles'>Pollen 36</div>
			</div>
		</div>
		</main>
</body>
