body {
    font-family: Tahoma;
    color: #000000;
    margin:0;
    overflow-x: hidden;
}

.tabs {
    background: #DCDCDC;
    border: 1px solid #C0C0C0;
    width: 100%;
    box-sizing: content-box;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 25px;
}

.tab {
    cursor: pointer;
    border: 1px solid #C0C0C0;
    display: inline-block;
    color: #000000;
    background:#F5F5F5;
    font-size: 16px;
    height: 30px;
    box-sizing: border-box;
    text-align: center; 
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
}

.tab:hover {
    background: #A9A9A9;
}
.header {
    background-color: #F5F5F5;
    height:60px;
    border: 1px solid #C0C0C0;
    width: 100%;
}
.input {
	position: relative;
}
input {
	margin-right: 30px;
    margin-top: 20px;
    border-radius: 15px;
    color: gray;
    background-color: lightgray;
	margin-top: -2px;
	position: relative;
	float: right;
}
.input:before{
	content: url(lupa.png);
	padding: 5px;
    margin: 5px 0;
    height: 10px;
    width: 10px;
	position: absolute;
	bottom: 0px;
	right: 0px;

}
.pollution {
	margin-top: 20px;
	margin-bottom: -15px;
	padding-left: 5px;
	color: grey;
}

.container {
    width: 100%;
    display: inline-block;
    font-size: 22px;
}

.box_1, .box_2 {
    margin-left: 30px;
    display: inline-block;
}

.box_1 div, .box_2 div {
    width: 500px;
    display: inline-block;
}


#forecast_container {
    display: flex;
    justify-content: space-around;
}

.footer {
    background: #DCDCDC;
    border: 1px solid #C0C0C0;
    color: #000000;
    width: 100%;
    font-size: 12px;
    position: fixed;
    padding: 10px;
    left: 0;
    bottom: 0;
    height: 10px;
}
.graph {
    border-bottom:solid 1px #000000;
    display: flex;
    align-items: flex-end;
    margin: 30px;
}

.graph_container {
    margin-top: 90px;
    margin-bottom: 20px;
}

.item2 {
    background-color: yellow;
    height: 50px;
    width: 10px;
    margin-left: 230px;
    display: block;
}
div.item1:first-child{
    margin-left: 50px;
}
.item1 {
    height: 50px;
    width: 10px;
    margin-left: 225px;
    background-color: pink;
    display: block;
}
.item3 {
    background-color: blueviolet;
    height: 20px;
    width: 10px;
    margin-left: 230px;
    display:block;
}
.item4 {
    margin-left: 230px;
    background-color: lightgreen;
    height: 30px;
    width: 10px;
    display: block;
}
.img {
    height: 50px;
    width: 60px;
}
.item1:first-child{
    margin-left: 110px;
} 