body {
    font-family: Tahoma;
    color: #000000;
    margin: 0;
    overflow-x: hidden;
}

.tabs {
    background: #DCDCDC;
    border: 1px solid #C0C0C0;
    width: 100%;
    box-sizing: content-box;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 25px;
}

 .tab {
    cursor: pointer;
    border: 1px solid #C0C0C0;
    display: inline-block;
    color: #000000;
    background:#F5F5F5;
    font-size: 16px;
    height: 30px;
    box-sizing: border-box;
    text-align: center; 
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
}

.tab:hover {
    background: #A9A9A9;
}
.header {
    background-color: #F5F5F5;
    height:60px;
    border: 1px solid #C0C0C0;
    width: 100%;
}
.input {
    position: relative;
}
input {
    margin-right: 30px;
    margin-top: 20px;
    border-radius: 15px;
    color: gray;
    background-color: lightgray;
    position: absolute;
    right: 0;
    margin-top: -20px;
}
.inline-block {
    display: inline-block;
}
.header_img {
    padding-top: 15px;
}
.table {
    border: 1px solid gray;
    margin: 0 auto;
}
.table_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}
.week_days {
    width: 200px;
    text-align: center;
    border: 1px solid gray;
}
.weather_days {
    border: 1px solid gray;
    width: 200px;
}
.max_wind_speed {
   text-align: center;
   background-color: lightgray;
}
.max_wind_speed_row {
    display: flex;
    justify-content: space-around;
}
.wind_info {
    border: 1px solid gray;
    width: 200px;
}
.transform {
    height: 15px;
    width: 20px;
    background-color: lightgray;
    display: inline-block;
    margin: 10px;
    transform: skewX(-35deg);
    text-align: center;
    line-height: 14px;
}
.precipitation {
    text-align: center;
    background-color: lightgray;
}
.precipitation_info {
    display: inline-block;
    border: 1px solid black;
}
.precipitation_info_block {
    display: inline-block;
    padding-top: 40px;
    margin: 0 10px 0 10px;
}
.day_call {    
    border: 1px solid lightgray;
    padding: 40px;
    width: 950px;
    height: 20px;
    margin:0 auto;
}
.footer {
    background: #DCDCDC;
    border: 1px solid #C0C0C0;
    color: #000000;
    margin-top: 300px;
    font-size: 12px;
    padding: 10px;
    left: 0;
    bottom: 0;
    height: 10px;
}
.foo{
    box-sizing: content-box;
    display: flex;
    margin-top: 80px;
    margin-left: 500px;
}
.Moon {
    margin-left: 200px;
}
.text {
    margin-left: 50px;
    margin-top: -25px;
}
.text_day_call {
    margin-left: 200px;
}
section.foo {
    border: 0;
}
.last_line {
    
}