body {
    font-family: Tahoma, sans-serif;
    color: #000000;
    margin: 0;
    overflow-x: hidden;
}

.tabs {
    background: #DCDCDC;
    border: 1px solid #C0C0C0;
    width: 100%;
    box-sizing: content-box;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 25px;
}

 .tab {
    cursor: pointer;
    border: 1px solid #C0C0C0;
    display: inline-block;
    color: #000000;
    background:#F5F5F5;
    font-size: 16px;
    height: 30px;
    box-sizing: border-box;
    text-align: center; 
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
}

.tab:hover {
    background: #A9A9A9;
}
.header {
    background-color: #F5F5F5;
    height:60px;
    border: 1px solid #C0C0C0;
    width: 100%;
    margin-bottom: 20px;
}
.input {
    position: relative;
}
input {
    margin-right: 30px;
    border-radius: 15px;
    color: gray;
    background-color: lightgray;
    position: absolute;
    right: 0;
    background-image: url("pics/magnifier.png");
    background-repeat:no-repeat;
    background-size:15px;
    background-position:10px;
    font-size:15px;
    margin-top: -20px;
}
.header_img {
    padding-top: 15px;
}
.weather_table_container {
    display: flex;
    width: 100%;
}
.weather_table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
    border: 1px solid lightgrey;
}
.column_item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.column_item_date {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.column_item_block {
    display: flex;
    margin: 1vh 0.5vw;
}
.weather_block {
    display: flex;
    flex-direction: column;
}
.temp {
    border: 2px solid black;
    display: inline-block;
    flex-direction: row;
    text-align: center;
}
.max_wind_speed_name {
    display: inline-block;
    width: 100%;
    text-align: center;
    background: lightsteelblue;
}
.max_wind_speed {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.max_wind_speed_info {
    display: flex;
}
.max_wind_speed_item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.precipitation {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.precipitation_info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.precipitation_name {
    display: inline-block;
    width: 100%;
    text-align: center;
    background: lightsteelblue;
}
.precipitation_info_block {
    display: flex;
    position: relative;
    z-index: 10;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    padding-left: 5px;
}
.precipitation_info_block img {
    position: absolute;
    left: 0;
    z-index: -5;
    display: flex;
    align-self: flex-end;
}
.transform {
    height: 15px;
    width: 20px;
    background-color: lightgray;
    display: inline-block;
    margin: 10px;
    transform: skewX(-35deg);
    text-align: center;
    line-height: 14px;
}
.day_call {    
    border: 1px solid lightgray;
    padding: 40px;
    width: 55%;
    height: 20px;
    margin:0 auto;
    margin-top: 30px;
}
.foo{
    box-sizing: content-box;
    display: flex;
    margin-top: 80px;
    margin-left: 500px;
}
.Moon {
    margin-left: 200px;
}
.text {
    margin-left: 50px;
    margin-top: -25px;
}
.text_day_call {
    margin-left: 200px;
}
section.foo {
    border: 0;
}
.footer {
    background: #DCDCDC;
    border: 1px solid #C0C0C0;
    color: #000000;
    margin-top: 150px;
    font-size: 12px;
    padding: 10px;
    left: 0;
    bottom: 0;
    height: 10px;
}
.copyright {
    text-align: center;
}
@media screen and (max-width: 767px){
    .weather_table_container {
        width: 100%;
    }
    .precipitation_name {
        display: none;
    }
    .max_wind_speed_name {
        display: none;
    }
}