body {
    font-family: Tahoma;
    color: #000000;
    margin:0;
}

.tabs {
    background: #DCDCDC;
    border: 1px solid #C0C0C0;
    width: 100%;
    box-sizing: content-box;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 25px;
}

.tab {
    cursor: pointer;
    border: 1px solid #C0C0C0;
    display: inline-block;
    color: #000000;
    background:#F5F5F5;
    font-size: 16px;
    height: 30px;
    box-sizing: border-box;
    text-align: center; 
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
}

.tab:hover {
    background: #A9A9A9;
}
header {
    background-color: #F5F5F5;
    height:60px;
    border: 1px solid #C0C0C0;
}
main {
    padding-bottom: 30px;
}
.text {
    margin-top: 20px;
    margin-bottom: -17px;
    margin-left: 20px;
}
.input {
    position: relative;
}
input {
    margin-right: 30px;
    margin-top: 20px;
    border-radius: 15px;
    color: gray;
    background-color: lightgray;
    position: absolute;
    right: 0;
    margin-top: 0px;
}
}
footer {
    background: #DCDCDC;
    border: 1px solid #C0C0C0;
    color: #000000;
    margin-top: 30px;
    font-size: 12px;
    padding: 10px;
    left: 0;
    bottom: 0;
    height: 10px;
}
td {
        padding: 10px;
}
td:nth-child(even){
        background-color: lightgray;
}
tr:nth-child(odd){
        background-color: lightgray;
}
table {
        margin:0 auto;
    }